html,
body {
	height: 100%;
	width: 100%;
	background-color: grey;
}

.container-styles {
	background-color: white;
	margin: 50px 50px;
}

.first-block {
	border-bottom: 1px solid grey;
}

.text-to-select {
	display: flex;
	margin-right: 10px;
}

.text-to-select p {
	display: flex;
	margin-right: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.pricing {
	display: flex;
}

.active {
	border-bottom: 1px solid blue;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
