html,
body {
	height: 100%;
	width: 100%;
	background-color: #eee;
	font-family: 'Lato', sans-serif;
	color: #2c2c2c;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.col-sm-6 {
	padding: 0 0;
	background-color: white;
}
.vertical-divider {
	border-right: 1px solid #eee;
}

.container-styles {
	background-color: white;
	margin: 50px 50px;
}

.first-block {
	border-bottom: 1px solid #eee;
	padding: 20px 40px 0px 40px;
}
.all-products {
	display: flex;
}
.all-products p {
	margin-left: 15px;
}

.header-wrap {
	margin-bottom: 40px;
	margin-top: 30px;
}
.header-wrap p {
	color: #ccc;
}

.text-to-select {
	display: flex;
	margin-right: 10px;
}

.text-to-select p {
	display: flex;
	text-transform: uppercase;
	cursor: pointer;
	font-size: small;
}

.pricing h3 {
	margin-right: 15px;
	font-family: 'Lato', sans-serif;
}

.former {
	text-decoration: line-through;
	color: #ccc;
}

.active {
	color: #2c2c2c;
	cursor: pointer;
	font-size: 0.7em;
	border-bottom: 2px solid rgb(96, 157, 255);
	margin-right: 30px;
	padding: 0px 8px;
}

.inactive {
	color: #ccc;
	cursor: pointer;
	font-size: 0.7em;
	margin-right: 30px;
	padding: 0px 8px;
}

.second-block {
	border-bottom: 1px solid #eee;
	padding: 20px 40px 0px 40px;
}

.details-block {
	min-height: 170px;
	white-space: pre-line;
	font-family: 'Lato', sans-serif;
}
.pricing {
	font-family: 'Lato, sans-serif';
	font-weight: 700;
	display: flex;
}

.color-dropdown {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* third block */
.button-container {
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: small;
	font-family: 'Lato', sans-serif;
}

.button-container p {
	display: inline-block;
	margin-left: 15px;
}

.add-btn-style {
	background-color: #609dff;
	height: 50px;
	width: 200px;
	border: none;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
